# clj-kondo linter
.clj-kondo/*
# unignore the configuration because I want to keep it tracked
!.clj-kondo/config.edn

# Firebase cache
.firebase/

# Shadow CLJS cache
.shadow-cljs/

node_modules/

# compiled JS (from ClojureScript)
out/

# CSS assets (they are generated at every tailwind build)
public/css/

# CSS assets (they are generated at every shadow-cljs build)
public/js/

# .nrepl-port

# logs from the Firebase emulator suite
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# Firestore emulator
firestore-past-data/
firestore-new-data/

# Firebase Admin SDK service account
functions/firebase-service-account.json

# logs from yarn
yarn-error.log

## Calva VS code extension
.calva

# Environment variables for direnv
.envrc

# Ignore public/index.html, created when deploying the production build.
# This is a workaround for a bug in the shadow-cljs http dev server.
# https://github.com/thheller/shadow-cljs/issues/773
public/index.html
