# clj-kondo linter
.clj-kondo/*
!.clj-kondo/config.edn

.firebase/
.shadow-cljs/
node_modules/
out/
public/css/
public/js/

.nrepl-port
report.html
yarn-error.log

firebase-debug.log
firestore-debug.log
ui-debug.log