rules_version = '2';
service cloud.firestore {

  function isSignedIn() {
    return request.auth != null;
  }

  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.token.roles.admin;
    }

    match /quotes/{quoteId} {
      allow read: if true;
      allow update: if isSignedIn() && resource.data.createdBy == request.auth.uid;
      allow create, delete: if isSignedIn() && isAdmin();
    }

    match /tags/{tagId} {
      allow read: if true;
      allow create, update, delete: if isSignedIn() && isAdmin();
    }

  }
}
