rules_version = '2';
service cloud.firestore {

  function isSignedIn() {
    return request.auth != null;
  }
  
  function isAdmin() {
    return isSignedIn() && request.auth.token != null && request.auth.token.roles != null && 'admin' in request.auth.token.roles;
  }

  function isCreator(uid) {
    return isSignedIn() && request.auth.uid == uid;
  }

  match /databases/{database}/documents {

    match /favorite_quotes/{quoteId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isCreator(resource.data.createdBy) || isAdmin();
    }

    match /quotes/{quoteId} {
      allow get: if true;
      allow list: if true; // TODO: limit to N quotes
      // https://firebase.google.com/docs/firestore/security/rules-query#evaluating_constraints_on_queries
      allow create: if isSignedIn();
      allow update, delete: if isCreator(resource.data.createdBy) || isAdmin();
    }

    match /tags/{tagId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

  }
}
