{:builds {:app {:asset-path "/js"
                :devtools {:http-port 3000
                           :http-root "public"
                           :preloads [devtools.preload]}
                :modules {:main {:init-fn minimalquotes.core/main}}
                :output-dir "public/js"
                :target :browser}
          :cards {:asset-path "/js"
                  :compiler-options {:devcards true}
                  :modules {:main {:init-fn minimalquotes.cards/main}}
                  :output-dir "public/js"
                  :target :browser}
          :test {:ns-regexp "minimalquotes.cards"
                 :output-to "out/test.js"
                 :target :node-test}}
 :dependencies [[binaryage/devtools "1.0.2"]
                [devcards "0.2.6"]
                [fork "2.0.4"]
                [metosin/reitit "0.5.5"]
                [metosin/reitit-dev "0.4.2"]
                [pez/clerk "1.0.0"]
                [reagent "1.0.0-alpha2"]
                [reagent-utils "0.3.3"]
                [venantius/accountant "0.2.5"]
                [vlad "3.3.2"]]
 :dev-http {3000 "public"}
 :nrepl {:port 3333}
 :source-paths ["src"]}
