{:builds {:app {:asset-path "/js"
                :devtools {:http-port 3000
                           :http-root "public"
                           :preloads [devtools.preload]}
                :log {:level :debug}
                :modules {:main {:init-fn minimalquotes.core/main}}
                :output-dir "public/js"
                :target :browser
                :verbose true
                :dev {:closure-defines {minimalquotes.firebase.init/DEVELOPMENT true
                                        minimalquotes.firebase.init/API_KEY #shadow/env "API_KEY"
                                        minimalquotes.firebase.init/APP_ID #shadow/env "APP_ID"
                                        minimalquotes.firebase.init/AUTH_DOMAIN #shadow/env "AUTH_DOMAIN"
                                        minimalquotes.firebase.init/DATABASE_URL #shadow/env "DATABASE_URL"
                                        minimalquotes.firebase.init/MEASUREMENT_ID #shadow/env "MEASUREMENT_ID"
                                        minimalquotes.firebase.init/MESSAGING_SENDER_ID #shadow/env "MESSAGING_SENDER_ID"
                                        minimalquotes.firebase.init/PROJECT_ID #shadow/env "PROJECT_ID"
                                        minimalquotes.firebase.init/STORAGE_BUCKET #shadow/env "STORAGE_BUCKET"}}
                :release {:closure-defines {minimalquotes.firebase.init/PRODUCTION true}
                          ;; Unfortunately, {:optimizations :advanced} breaks infinite scrolling.
                          :compiler-options {:optimizations :simple}}}
          :cards {:asset-path "/js"
                  :compiler-options {:devcards true}
                  :modules {:main {:init-fn minimalquotes.cards/main}}
                  :output-dir "public/js"
                  :target :browser}
          :test {:ns-regexp "minimalquotes.cards"
                 :output-to "out/test.js"
                 :target :node-test}}
 :dependencies [[binaryage/devtools "1.0.2"]
                [devcards "0.2.7"]
                [fork "2.1.0"]
                [lambdaisland/glogi "1.0.63"]
                [metosin/reitit "0.5.5"]
                [metosin/reitit-dev "0.4.2"]
                [pez/clerk "1.0.0"]
                [reagent "1.0.0-alpha2"]
                [reagent-utils "0.3.3"]
                [venantius/accountant "0.2.5"]
                [vlad "3.3.2"]]
 ;; Tell shadow-cljs' http dev server to serve a different HTML file, not
 ;; index.html. This is because I need to initialize Firebase in a different way.
 ;; Note: do NOT keep a index.html in the public directory because of this issue.
 ;; https://github.com/thheller/shadow-cljs/issues/773
 :dev-http {3000 {:push-state/index "dev.html"
                  :root "public"}}
 :nrepl {:port 3333}
 :source-paths ["src"]}
