
{:linters {:missing-docstring {:level :off}
           ; goog.DEBUG is signaled as unresolved symbol. This is already fixed,
           ; but the clj-kondo version on NPM is a bit older and still has the bug.
           ; https://github.com/borkdude/clj-kondo/pull/860
           :unresolved-symbol {:exclude [(devcards.core/defcard [actions-authenticated-card
                                                                 actions-unauthenticated-card
                                                                 app-modal-card
                                                                 buttons-left-to-right-card
                                                                 buttons-right-to-left-card
                                                                 buttons-with-no-icons
                                                                 cancel-button-card
                                                                 footer-card
                                                                 header-authenticated-card
                                                                 header-container-card
                                                                 header-unauthenticated-card
                                                                 logout-button-card
                                                                 quote-authenticated-card
                                                                 quote-form-card
                                                                 quote-form-modal-buttons-card
                                                                 quote-unauthenticated-card
                                                                 quotes-authenticated-card
                                                                 quotes-unauthenticated-card
                                                                 submit-button-card
                                                                 tag-card
                                                                 tags-card
                                                                 tags-custom-margins-card])
                                         (devcards.core/deftest [header-authenticated-tests-card
                                                                 header-unauthenticated-tests-card
                                                                 quote-form-tests-card
                                                                 tags-tests-card])]}
           :unused-referred-var {:exclude {minimalquotes.firebase.firestore [now]}}}}
